<!DOCTYPE html>
<html lang="{{ .Lang }}" itemscope itemtype="http://schema.org/WebPage">
  {{- partial "head.html" . -}}
  <body class="dark:bg-gray-800 dark:text-white relative flex flex-col min-h-screen">
    {{- partial "header.html" . -}}
    <main class="flex-1">
    {{- block "main" . }}{{- end }}
    </main>
    {{- partial "footer.html" . -}}
  </body>
  <script>
    (function(d, id) {
      if (d.getElementById(id)) return;
      var sc, node = d.getElementsByTagName('script')[0];
      sc = d.createElement('script'); sc.id = id;
      sc.src = 'https://sdk.getsitekit.com/static/js/app.js#apiKey=0eaf2fdd45f9a2faee6bb6f2546d0330';
      node.parentNode.insertBefore(sc, node);
    }(document, 'sitekit-sdk'));
  </script>
  
</html>
